.square {
    width: 150px;
    height: 150px;
    display: inline-block;
    background: white;
    margin: 0 5px;
    cursor: pointer;
}

.board-row > :first-child .square {
    margin: 0 5px 0 0;
}

.piece {
    font-size: 120px;
    font-weight: 900;
    color: grey;
}

.board-layout {
    width: 470px;
    height: 450px;
    background: black;
}

.board-row {
    width: 600px;
    margin: 10px 0;
    height: 150px;
}
