.square {
    width: 100px;
    height: 100px;
    display: inline-block;
    background: white;
    margin: 0 5px;
    cursor: pointer;
}

.board-row > :first-child  {
    margin: 0 5px 0 0;
}

.board-layout {
    width: 320px;
    height: 320px;
}

.board {
    background: black;
    margin: 5px;
}

.board-row {
    width: 350px;
    margin: 10px 0;
    height: 100px;
}

.circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 11px solid grey;
    margin: 10px;
    cursor: default;
 }

 .cross {
    font-size: 6em;
    font-weight: 900;
    color: grey;
    position: absolute;
    padding-left: 15px;
    cursor: default;
 }

 .cross:after {
    content: "\2716";
 }

 button {
    padding: 10px;
    border-radius: 5px;
    background: white;
    border: 1px solid black;
 }

 p, h3 {
    text-align: center;
 }

 @-moz-document regexp(".*") {
    /*
        Firefox renders the :content pseudo-element quite differently. We could re-style
        the whole board, but that's probably overkill for now, so we'll just render
        the circle piece to not be quite as large and center the cross.
    */
     .cross {
        font-size: 90px;
        padding-left: 23px;
     }

     .circle {
        width: 30px;
        height: 30px;
        margin: 25px;
     }
 }
